#sass cache
.sass-cache
*compass_app_log.txt

# Ignore .htaccess because of drupalconcepts deployment process and different settings of Live-Site and Stage
#docroot/.htaccess

# Ignore configuration files that may contain sensitive information.
*/sites/*/settings.php

# Ignore paths that contain user-generated content.
*/sites/*/files
private

# Exclude anything in the dev path.
sites/*/modules/dev/
*FirePHPCore/

#sass cache
sites/*/themes/*/compass/.sass-cache/

#source-map
*.css.map

# We won't need those files.
*README.txt
#*README.md
*CHANGELOG.txt
*COPYRIGHT.txt
*INSTALL.*txt
*LICENSE.*txt
*MAINTAINERS.txt
*STATUS.*txt
*UPGRADE.txt
*web.config

# Some Drupal files we remove for security reasons.
docroot/install.php
docroot/xmlrpc.php
docroot/authorize.php
docroot/cron.php
docroot/update.php
docroot/sites/example.sites.php

# Remove unwanted cre modules and themes
themes/garland
docroot/modules/aggregator/
docroot/modules/blog/
docroot/modules/book/
docroot/modules/color/
docroot/modules/contact/
docroot/modules/contextual/
docroot/modules/dashboard/
docroot/modules/forum/
docroot/modules/openid/
docroot/modules/overlay/
docroot/modules/php/
docroot/modules/poll/
docroot/modules/rdf/
docroot/modules/search/
docroot/modules/shortcut/
docroot/modules/simpletest/
docroot/modules/statistics/
docroot/modules/syslog/
docroot/modules/toolbar/
docroot/modules/tracker/
docroot/modules/trigger/
docroot/themes/garland/
docroot/scripts/
docroot/sites/all/themes/contrib/mothership/NEWTHEME
docroot/sites/all/themes/contrib/mothership/documentation

# meld backup files.
*.orig*

# Numerous always-ignore extensions
*.bak
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
.buildpath
project
# Komodo
*.komodoproject
.komodotools

# MAMP
*MAMP_php_error_log_MAMP

# Ignore sibling-paths in root
/nbproject
/private
/sql-backup
/tmp
/config

# Folders to ignore
.hg
.svn
.CVS
.idea
node_modules
dist
dev

# custom ignores
git_backup
conf
.~lock.*

# default features
date_migrate_example
radioactivitydefaults
migrate_example
migrate_example_baseball
migrate_extras_media
migrate_extras_pathauto
amazon_examples

# Crossdomain Policy
docroot/crossdomain.xml
